/* src/components/LogoNavbar.css */
.logoNavbar{
  display: flex;
  width: 240px;
  border-right: 3px solid #26272C;
  gap: 6px;
  height: 42px;
  align-items: center;
}

.logo {
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    align-items: center;
    
  }

  

.logo-image{
    width: 30px; 
    height: 30px;
    margin-right: 3px;
  }