@mixin mobile {
    @media screen and (max-width:480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width:1200px) {
        @content;
    }
}



.chathome{
    background-color: #212328;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .chatContainer{
        border:1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;
        @include tablet{
            width: 90%;
        }
        
        .chatSidebar{
            flex: 1;
            background-color: #A68AEA;
            color: #ddddf7;
            @include tablet{
                position: relative;
            }

            .chatNavbar{
                display: flex;
                align-items: center;
                background-color: #2f2d52;
                height: 40px;
                padding: 10px;
                justify-content: space-between;
            }
            .chatLogo{
               font-weight: bold; 
               color: #956EE7;
               font-size: 21px;
               @include tablet{
                   display: none;
               }
            }
            .user{
                display: flex;
                gap: 10px;
                img{
                    background-color: #ddddf7;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                button{
                    background-color: #5d5b8d;
                    color: #ddddf7;
                    font-size: 10px;
                    border: none;
                    cursor: pointer;
                    @include tablet{
                        position: absolute;
                        bottom: 10px;
                    }
                }
            }
            .chatSearch{
                border-bottom: 1px solid gray;

                .searchForm{
                    padding: 10px;

                    input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;

                        &::placeholder{
                            color: lightgray;
                        }
                    }
                }
            }
            .busChat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;

                &:hover{
                    background-color: #2f2d52;
                }
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .busChatInfo{
                    span{font-size: 18px; font-weight: 500;}
                    p{font-size: 14px; color: lightgray;}

                }
            }
        }
        .chat{
            flex: 2;

            .chatInfo{
                height: 40px;
                background-color: #5d5b8d;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: lightgray;

                .chatIcons{
                    font-size: 20px;
                    font-weight: bold;
                    display: flex;
                    gap: 10px; 
                    cursor: pointer;
                    img{
                        height: 24px;
                        cursor: pointer;
                    }
                }
            }
            .messages{
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - 150px);
                overflow-y: scroll;
                
                .message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p{
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }
                        img{
                            width: 50%;
                        }
                    }
                    &.owner{
                        flex-direction:  row-reverse;

                        .messageContent{
                            align-items: flex-end;
                            
                            p{
                                background-color: #8da4f1;
                                color: white;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }
                    }
                }
            }
            .chatInput{
                height: 50px;
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;



                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #2f2d52;
                    font-size: 18px;

                    &::placeholder{
                        color: lightgray;
                    }
                }
                .send{
                    display: flex;
                    align-items: center;
                    gap: 10px;  
                    white-space: nowrap;

                    img{
                        height: 24px;
                        cursor: pointer;
                    }

                    button{
                        border : none;
                        padding: 10px 15px;
                        color: white;
                        background-color: #8da4f1;
                        cursor: pointer;
                    }

                }
            }
        }
    }
}